{{#if msg}}
<div class="alert alert-success text-left border border-success mt-2">
  {{msg}} <a href="/admin/{{clientId}}/api">close</a>
</div>
{{/if}}
{{> instance-header }}
<div class="alert alert-primary text-left border border-primary mt-2">
  <h4>How to connect?</h4>
  In order to connect your application to the Unleash API using one of the client SDKs you will need a <strong>client secret</strong>. 
  If you want to connect directly to the Unleash API to change toggle configuration programmatically you will need an <strong>admin secret</strong>. 
  <br /><br />
  Read the <a href="https://www.unleash-hosted.com/docs" target="_blank">Getting started guide</a> to learn more.
</div>
<br />

<h3>API keys</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Type</th>
      <th scope="col">Secret</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {{#each keys}}
        <tr>
            <td>{{> local-time created}}</td>
            <td>{{type}}</td>
            <td>{{key}}</td>
            <td>
                <form method="post" action="/admin/{{clientId}}/api/del-key" class="form-inline mb-0">
                  <input type="hidden" name="key" value="{{key}}" />
                  <button type="submit" class="btn btn-secondary btn-sm" onClick="return confirm('Are your sure you want to delete the api-key?');">Delete</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>

<hr />

<form method="post" action="/admin/{{clientId}}/api/add-key" class="form-inline">
    <div class="form-group mr-2">
        <label for="type" class="mr-2 sr-only">Type</label>
        <select class="form-control" id="type" name="type">
            <option value="client">client secret</option>
            <option value="admin">admin secret</option>
        </select>
    </div> 
    <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary btn-block"> Create </button>
    </div>
</form>